#Cargar y leer datos en Pandas

La carga y lectura de archivos es un paso necesario al trabajar con datos,por lo cuál aprender a traer datos de otros archivos a nuestros proyectos es de suma importancia. Pandas es una herramienta poderosa que permite la importación o lectura de datos desde diferentes formatos como archivos CSV, Excel, bases de datos, JSON y más. Acontinuación descubriremos juntos cómo cargar archivos en nustros Pandas:

**Paso número 1, importar la biblioteca Pandas:**

Antes de cargar cualquier archivo debes serciorarte de contar con la biblioteca pandas instalada en tu entorno de trabajo y de haber importado pandas a tu archivo ya sea .py o .ipynb

Para instalar Pandas en tu entorno de trabajo debes ejecutar el siguiente comando en tu terminal o entrono:

*pip install pandas*

Una vez que tienes pandas isntalado deberás importarlo a tu archivo de la siguiente forma

In [1]:
import pandas as pd

**Paso número 2, Cargar un archivo CSV:**

Los archivos más comunes con los que te encontrars al trabajar con datos probablemente sean los de tipo  csv o archiuvos separados por comas.Para cargar un archivo CSV en Pandas, puedes usar el método read_csv, asegurandote de proporcionar la ruta al archivo CSV como argumento.

In [ ]:
#esta es la sintaxis para realizar está acción
#este es un ejemplo por lo que evita ejecutar está linea de codigo, más adelante podremos hacerlo en uno de los eejercicios de practica
df = pd.read_csv('archivo.csv')

Esto creará un DataFrame a partir de los datos en el archivo CSV.

**Paso número tres, Cargar otros tipos de archivos:**
Pandas también admite la carga de otros tipos de archivos, como Excel, JSON, SQL, y más. Para cargar datos desde estos tipos de archivos, puedes usar funciones específicas, como read_excel, read_json, y read_sql.

In [ ]:
#Ejemplo de carga de archivos en formato excel
#No ejecutes está línea de código

df = pd.read_excel('archivo.xlsx')

In [ ]:
#Ejemplo de carga de archivos en formato json
#No ejecutes está línea de código

df = pd.read_json('archivo.json')

**Paso número cuatro, Especificación de delimitadores y opciones:**

Si tu archivo CSV u otro formato requiere delimitadores especiales o tiene opciones específicas, puedes proporcionar argumentos adicionales a las funciones de lectura. Por ejemplo, para un CSV con un delimitador diferente al estándar de coma (","), puedes especificarlo:

In [ ]:
#Ejemplo de como especificar delimitadores
#No ejecutes está línea de código

df = pd.read_csv('archivo.csv', delimiter=';')

#Ejercicios

Para realizar los ejercicios usaremos un archivo en diferente formato el cuál crearemos usando pandas y sqlite3 para formato db

In [2]:
import pandas as pd
import sqlite3

In [4]:
data = {
    'Raza': ['Labrador Retriever', 'Golden Retriever', 'Bulldog', 'Poodle', 'German Shepherd', 'Beagle', 'Rottweiler', 'Yorkshire Terrier', 'Boxer', 'Dachshund'],
    'Talla': ['Grande', 'Grande', 'Mediana', 'Mediana', 'Grande', 'Pequeña', 'Grande', 'Pequeña', 'Grande', 'Pequeña'],
    'Peso (aprox.)': [30, 75, 50, 60, 75, 20, 95, 7, 70, 15],
    'País de Origen': ['Reino Unido', 'Reino Unido', 'Reino Unido', 'Francia', 'Alemania', 'Reino Unido', 'Alemania', 'Reino Unido', 'Alemania', 'Alemania'],
}

# Crear un DataFrame
df = pd.DataFrame(data)

# Exportar a CSV
df.to_csv('10_razas_de_perros.csv', index=False)

In [8]:

# Exportar a Excel (XLS)
df.to_excel('10_razas_de_perros.xlsx', index=False)

In [6]:
# Exportar a JSON
df.to_json('10_razas_razas_de_perros.json', orient='records')

In [7]:
# Exportar a SQL (SQLite)
conn = sqlite3.connect('10_razas_de_perros.db')
df.to_sql('10_razas_de_perros', conn, if_exists='replace', index=False)
conn.close()

c:\Users\juanv\proyectos_con_python\hola_pandas\venv_hola_pandas\lib\site-packages\pandas\core\generic.py:2882: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  method=method,

El código anterior creará 4 nuevos archivos en el directorio, una vez creado los archivos podrás ejecutar las siguientes líneas de código

**Ejercicio 1: Carga de un archivo CSV**

1.   Carga el archivo CSV en Pandas utilizando pd.read_csv.
2.   Muestra las primeras filas del DataFrame para explorar los datos.

In [9]:
df_csv = pd.read_csv("10_razas_de_perros.csv")

In [10]:
df_csv.head(5)

                 Raza    Talla  Peso (aprox.) País de Origen
0  Labrador Retriever   Grande             30    Reino Unido
1    Golden Retriever   Grande             75    Reino Unido
2             Bulldog  Mediana             50    Reino Unido
3              Poodle  Mediana             60        Francia
4     German Shepherd   Grande             75       Alemania

**Ejercicio 2: Carga de un archivo Excel**

1.   Carga el archivo Excel en Pandas utilizando pd.read_excel.
2.   Muestra información básica sobre el DataFrame, como la cantidad de filas, columnas y tipos de datos.

In [11]:
df_xls = pd.read_excel("10_razas_de_perros.xlsx")

df_xls.head(5)

                 Raza    Talla  Peso (aprox.) País de Origen
0  Labrador Retriever   Grande             30    Reino Unido
1    Golden Retriever   Grande             75    Reino Unido
2             Bulldog  Mediana             50    Reino Unido
3              Poodle  Mediana             60        Francia
4     German Shepherd   Grande             75       Alemania

**Ejercicio 3: Carga de datos JSON**

1.   Carga el archivo JSON en Pandas utilizando pd.read_json.
2.   Realiza una inspección de los datos utilizando las funciones head(), info() y describe().

In [12]:
df_json = pd.read_json("10_razas_razas_de_perros.json")

df_json.head(5)

                 Raza    Talla  Peso (aprox.) País de Origen
0  Labrador Retriever   Grande             30    Reino Unido
1    Golden Retriever   Grande             75    Reino Unido
2             Bulldog  Mediana             50    Reino Unido
3              Poodle  Mediana             60        Francia
4     German Shepherd   Grande             75       Alemania

In [13]:
df_json.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Raza            10 non-null     object
 1   Talla           10 non-null     object
 2   Peso (aprox.)   10 non-null     int64
 3   País de Origen  10 non-null     object
dtypes: int64(1), object(3)
memory usage: 264.0+ bytes

In [14]:
df_json.describe()

       Peso (aprox.)
count      10.000000
mean       49.700000
std        30.088942
min         7.000000
25%        22.500000
50%        55.000000
75%        73.750000
max        95.000000