# Estructuras de datos en Pandas

La libreria de Pandas ofrece dos estructuras de datos fundamentales las Series y los DataFrame ambas estructuras se consideran escenciales para el manejo y analisis de datos con Python.

## Series

Podemos pensar en una serie de Pandas como si fuera una columna de excel o de una base de datos, es una estructura de datos unidimensional que se utiliza para almacenar y manipular datos.

Cada elemento de una Serie tiene una etiqueta, llamada "índice", que puede ser una etiqueta numérica o una etiqueta personalizada. Las Series pueden contener datos de diversos tipos, incluyendo números, cadenas de texto, fechas y más.

Una serie es un elemneto similar a un Array o una Lista de Python.

**Podemos usar pandas para crear series de la siguiente forma**

Primero debemos instalar dentro de nuestro entorno de trabajo la libreria usando PIP

*pip install pandas*

Una vez que Pandas esté instalado, puedes comenzar a usarlo en tu código. Importando la biblioteca en tus scripts de Python de la siguiente manera:

In [12]:
#Se realiza la importación de la libreria a nuestro scrpit de python
import pandas as pd

Vamos a crear una serie a partir de una lista

In [13]:
#Para lo cual definiremos primero la lista usando Python

lista_e = [1,2,3,4,5,6]
print(lista_e)

[1, 2, 3, 4, 5, 6]

In [14]:
#Usando el constructor pd.Series() Pandas realiza la transformacion de nuestra variable lista_e en una serie 

serie_e = pd.Series(lista_e)
print(serie_e)

0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64

### Practiquemos la construcción de series con Pandas

**Ejercicio 1 (Creación de una Serie):**
Crea una Serie que contenga los siguientes nombres de ciudades: "Nueva York", "Los Ángeles", "Chicago", "Houston" y "Miami". Asigna un índice numérico a cada ciudad.

In [15]:
ciudades = pd.Series(["Nueva York", "Los Angeles", "Chicago", "Houston", "Miami"], index=[1,2,3,4,5])
print(ciudades)

1     Nueva York
2    Los Angeles
3        Chicago
4        Houston
5          Miami
dtype: object

**Ejercicio 2 (Acceso a Elementos):**
Accede al segundo elemento de la Serie creada en el ejercicio 1 y muestra el nombre de la ciudad.

In [16]:
ciudades[1]

'Nueva York'

**Ejercicio 3 (Operaciones Matemáticas):**
Crea una Serie con datos numéricos y realiza operaciones matemáticas como suma, resta y multiplicación en los elementos de la Serie.

In [17]:
numeros = pd.Series([1,2,3,4,5,6])
numeros

0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64

In [18]:
operacion = numeros[1] + numeros[5]
print(operacion)

8

**Ejercicio 4 (Filtrado de Datos):**
A partir de una Serie de números, filtra y muestra los valores mayores que 50.

In [19]:
secuencia = pd.Series([10,20,34,55,88,49,8,12])
secuencia

0    10
1    20
2    34
3    55
4    88
5    49
6     8
7    12
dtype: int64

In [20]:
filtro = secuencia[secuencia>50]
filtro

3    55
4    88
dtype: int64

**Ejercicio 5 (Cambio de Índice):**
Cambia el índice de la Serie del ejercicio 1 para que las ciudades tengan etiquetas personalizadas en lugar de índices numéricos.

In [21]:
ciudades

1     Nueva York
2    Los Angeles
3        Chicago
4        Houston
5          Miami
dtype: object

In [22]:
ciudades.index = ["NY", "LA", "CHI", "HOU", "MIA"]
ciudades

NY      Nueva York
LA     Los Angeles
CHI        Chicago
HOU        Houston
MIA          Miami
dtype: object